@using neilhighley_fb.Models
@model neilhighley_fb.Models.FacebookUserModel

@{
    ViewBag.Title = "Your facebook page";
    ViewBag.Message = "Welcome";
}

<h2>Your facebook page</h2>
<p>@Model.Name</p>
<div>
    Yer pals
    <ul>
        @if (Model.Friends != null)
        {
            foreach (var f in Model.Friends.Take(20))
            {
                <li>
                    <img src="@f.Image" title="@f.Name"/>
                    <div>@f.Name</div>
                </li>
            }
        }
    </ul>
    <hr/>
    Yer mumblings
    <ul>
        @if (Model.Statuses != null)
        {
            foreach (StatusModel s in Model.Statuses.Take(20))
            {
                <li>
                    <div>@s.Message</div>
                    <div>@s.Updated</div>
                </li>
            }
        }
    </ul>
</div>
